@*@model IEnumerable<MVCEF.ExEntity.SysUser>*@
@model PagedList.IPagedList<MVCEF.ExEntity.SysUser>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row placeholders">

</div>
<p>@Html.ActionLink("新增", "Create")</p>
@using (Html.BeginForm("Index", "Account", FormMethod.Get))
{
    <p>
        Find by name:@Html.TextBox("searchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="查询" />
    </p>
}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.UserName)*@
                    @Html.ActionLink("UserName", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    Email
                </th>
                <th>
                    CreateDate
                </th>
                <th>
                    Department
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(x => item.SysDeparment.DepartmentName)
                    </td>
                    <td>
                        @Html.ActionLink("明细", "Details", new { id = item.ID })
                        @Html.ActionLink("编辑", "Edit", new { id = item.ID })
                        @Html.ActionLink("删除", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount    
    @Html.PagedListPager(Model, pageIndex => Url.Action("Index", new {  pageIndex, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
